@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
}

.nav:before{
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  height: 8vh;
  width: 20vw;
  background: #29a3e5;
  transform: skew(-60deg);
  transform-origin:top;
  z-index: -1;
}

.nav{
  height: 8vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav h4{
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 20px;
}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul{
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
}

.nav a{
  background-color: #248dc5;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.nav a:hover{
  background-color: #015c8d;
}

.nav li{
  color: #248dc5;
  margin-left: 50px;
}



.header{
  background-color: #2486ba;
  color: white;
}

.header h1{
  text-align: center;
  font-weight: 100;
  font-size: 2.7rem;
  padding-top: 15px;
  text-shadow: 1px 1px black;
}

.information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 10px;  
}

.info{
  background-color: rgba(90, 90, 90,0.3);
  box-shadow: 2px 2px #000000;
  text-align: center;
  /* height: 100px; */
  /* width: 200px; */
  padding: 20px 20px 20px 20px;
  font-size:1.2rem;
  line-height: 30px;
}

.info:hover{
  box-shadow: none;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.column{
  height: 55vh;
}

.right h4{
  text-align: center;
  font-size: 1.9rem;
}

.arrow{
  transform: scale(1.2);
  margin: 10px;
}

.right p{
  text-align: center;
  font-size: 1.2rem;
}

table{
  text-align: center;
}


.moneyInfoDaily{
  display: flex;
  justify-content: space-between;
}

.moneyInfoDaily span{
  font-size: 1.3rem;
}

.moneyInfoDaily span:first-child{
  color: green;
}

.moneyInfoDaily span:last-child{
  color: red;
}

.calendar-container {
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s;
}

.date {
  flex: 0 0 auto;
  width: 100px;
  height: 80px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active{
background-color: #35a2d1;
}

.date:hover {
  background-color: #35a2d1;
}

.event-info {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  
} 


.pie{
  margin-top: 30px;
  display: block;
  background-image: conic-gradient(rgb(249, 38, 115) 36deg, rgb(62, 222, 110) 36deg);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  /* background-image: conic-gradient(pink); */ 
}

.left{
  font-size: 1.7rem;
}

.left div:nth-child(2){
  margin-top: 10px;
  color: rgb(34, 205, 34);
}

.left div:nth-child(3){
  color: rgb(231, 51, 51);
}